@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*,::after,::before{
    margin:0;
    padding:0;    
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;

}
.container{
    padding-left: 1px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    transition:all;
    margin:auto;
    color:aquamarine;;
}
img{
    max-width: 100%;
    object-fit: cover;
}
.container{
    max-width: 1392px;
    padding:0px 15px;
    margin:auto;
}
header{
    padding-top:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:60px;
}